* {
    box-sizing: border-box;
  }
html {
    scroll-behavior: smooth;
  }
body {
        font-family: 'Belanosima', sans-serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 1.5;

        min-height: 100vh;
        margin: 0; padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: black;
        color: #fff;
    }
h1, h2 {
    font-family: 'Lato', sans-serif;
}
header {
    border: 1px dashed #dcb800;
}
main {
    font-size: large;
}
footer {
    background-color: #000;
    font-size: 100%;
    color: #c79bfa;
    border: 1px dashed #dcb800;
    padding-left: 15%;

}
@media (max-width: 768px) {
    .section {
      width: 100%;
    }
  }
.container {
    max-width: 1440px;
    margin: 0 auto;
  }
.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
  }
.nav-link{
    padding: 0 20px;
    line-height: 50px;
    transition: 0.7s;
    text-decoration: none;
    color: #eb6188;
    font-size: 110%;
    font-weight: bolder;
  }
.nav-link:hover{
    text-decoration: underline;
    color: #dcb800;
}
.link{
    transition: 0.7s;
    text-decoration: none;
    color: #dcb800;
  }
.link:hover{
    text-decoration: underline;
    color: #eb6188;
}
.section-title{
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #c79bfa;
}
.section-title-other{
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 5px;
    color: #f85a3e;
}
.yellow-txt{
    color: #dcb800;
}
.red-txt{
    color: #f85a3e;
}
.pink-txt{
    color: #e37bf8;
}
.blue-txt{
    color: #00b0dc;
}
.section-link{
  transition: 0.7s;
    text-decoration: none;
    color: #c79bfa;
}
.section-link:hover{
  color: #eb6188;
}
.main-container {
    display: flex;
    flex-wrap: wrap;
  }
.section {
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 1%;
    padding-bottom: 1%;
    width: 50%;
  }
.avatar{
    max-width: 30%;
    height: auto;
  }
.logo{
    width: 20%;
    height: auto;
    position: relative;
    text-align: center;
  }

.title-img{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title-txt{
    text-align: center;
    margin-top: 3%;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-main{
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 1%;
    padding-bottom: 1%;
    width: 50%;
}