* {
    box-sizing: border-box;
  }
html {
    scroll-behavior: smooth;
  }
body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: rgb(255, 255, 255);
    display: block;
  }
header {
    background: #0C0C0E;
    display: flex;
    height: 90px;
    width: 1440px;
    justify-content: space-between;
    margin: auto;
}
main{
  display: flex;
  width: 1440px;
  margin: auto;
  flex-direction: column;
}
h1{
    color: #FFF;
    font-family: Forum;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; /* 166.667% */
    letter-spacing: 0.6px;
    margin-left: 20px;

}
.nav-list {
    display: inline-flex;
    align-items: flex-start;
    gap: 30px;
    margin-left: 394px;
    margin-top: 20px;
  }
.nav-link{
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; /* 250% */
    text-decoration: none;
    transition: 1s;
  }
.nav-link:hover{
  text-decoration: underline;
}
.icon-profile{
  margin: 31px 20px 31px;
}
.welcome{
  background: url(assets/img/Welcome.png), lightgray 50% / cover no-repeat;
  width: 1440px;
  height: 600px;
}
.overlay{
  background: linear-gradient(180deg, #0C0C0E 0%, #0C0C0E 0.01%, rgba(9, 9, 41, 0.1) 100%);
  width: 1440px;
  height: 300px;
  flex-shrink: 0;
}
.welcome-text{
  color: #FFF;
  text-align: center;
  font-family: Forum;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px; /* 125% */
  letter-spacing: 3px;
  text-transform: uppercase;
  width: 520px;
  flex-shrink: 0;
  margin-top: -45px;
  margin-left: 40px;
  background-color: #0C0C0E;
}
.about{
  width: 1440px;
  height: 837px;
  background: #FFF;
}
.about-text{
  color: #0C0C0E;
  font-family: Forum;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 100% */
  letter-spacing: 2px;
  text-transform: capitalize;
  text-align: center;
  }
.about-line{
  width: 50px;
  height: 1px;
  flex-shrink: 0;
  background: #0C0C0E;
}